* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: rgb(33, 101, 103);
}

canvas.webgl {
  position: fixed;
  inset: 0;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
}